@{
    ViewData["Title"] = "Errors";
}

@section Scripts{
    <script type="text/javascript" src="~/js/meow.js"></script>
}

<h1>@ViewData["Title"]</h1>

<img src="~/images/error.webp" class="img" alt="404Cat" />
<audio id="audio" src="~/audio/woof.m4a"></audio>
