@{
    ViewData["Title"] = "Home Page";
}

@section Script{ 
    <script type="text/javascript" src="~/js/meow.js"></script>
}

<div class="text-center">
    <img src="~/images/underconstruction.jpg" class="img" alt="under construction" />
    <audio id="audio" src="~/audio/meow.m4a"></audio>
</div>
