@{
    ViewData["Title"] = "I am watching you";
}

@section Scripts{
    <script type="text/javascript" src="~/js/meow.js"></script>
}

<div class="text-center">
    <img src="~/images/behave-im-watching-you.jpg" class="img" alt="I am watching" />
    <audio id="audio" src="~/audio/meow.m4a"></audio>
</div>